/*-- scss:defaults --*/
// Base document colors
$body-bg:     #F8F8F2 !default;
$body-color:  #454158 !default;
$link-color:  #454158 !default;
$navbar-bg:   #454158 !default;
$navbar-fg:   #F8F8F2 !default;

// Callout colors
$callout-color-note:      #80FFEA;
$callout-color-tip:       #8AFF80;
$callout-color-caution:   #FFCA80;
$callout-color-warning:   #FF9580;
$callout-color-important: #FFFF80;